main {
  .slider-track {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-width: none;

    .genre-card {
      flex: 0 0 auto;
      height: 100%;
      background-color: #1a1a1a;
      padding: 30px;
      border: 1px solid #262626;
      border-radius: 12px;


      .genre-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        max-width: 295px;
        height: 342px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  @media (max-width:390px) {
    .genre-card{
      padding: 24px;
    }
  }
  @media (max-width:390px) {

    .genre-card{
      padding: 20px !important;
      .genre-grid{
        width: 178px;
        height: 201px !important;

        
      }
    }
  }
}
