@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Maname&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #141414;
}

main {
  margin: 200px 161px 150px 161px;

  .buttons{
    .btn-icon{
      padding: 14px;
      background-color: #1a1a1a;
      border-radius: 8px;
    }
    .move-point{
      .bg-point{
        width: 16px;
        height: 4px;
      }
    }
  }


  .cards-box {
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    .card-box {
      padding: 20px;
      background-color: #1a1a1a;
      border-radius: 12px;
      min-width: 250px;
      .box-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
          border-radius: 8px;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 1440px) {
    margin: 150px 80px 120px 80px;
    
  }

  @media (max-width:575px) {
        margin: 100px 15px 50px 15px;
        
    }
}

