@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Maname&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
    margin: 200px 161px 150px 161px;
    .container2{
        .scroll{
            
            .buttons{
                .btn-icon{
                    border-radius: 8px;
                    background-color: #141414;
                    padding: 14px;

                    i{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                .bg-point{
                    width: 16px;
                    height: 4px;
                }
            }
        }
    }

    @media (max-width:1440px) {
        margin: 150px 80px 120px 80px;
    }
    @media (max-width:575px) {
        margin: 100px 15px 50px 15px;
    }
}